body{
    margin: 0; 
    padding: 0;
}
.bloco_2{
    background-color: white;
    position: relative;
    width: 70vw;
    height: 70vh;
    top: 200px;
    left: 460px;
}
h1{
    position: relative;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol{
    position: relative;
    left: 80px;
    top: 70px;
}
li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    color: rgb(160, 7, 7);
}
hr{
    position: relative;
    right: 449px;
    width: 22%;
    bottom: 17px;
    height: 1px;
    border: 0px;
    border-top: 1px solid rgb(160, 7, 7);
}