body{
    margin: 0;
    padding: 0;
}
.bloco_2{
    background-color: white;
    position: relative;
    width: 1290px;
    height: 75vh;
    top: 200px;
    left: 460px;
}
h1, h2, li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 80px;
}
span{
    color: rgb(160, 7, 7);
}
hr{
    position: relative;
    right: 428px;
    width: 22%;
    bottom: 17px;
    height: 1px;
    border: 0px;
    border-top: 1px solid rgb(160, 7, 7);
}
.lista1{
    position: relative;
    top: 60px;
}
.lista2{
    position: relative;
    top: 130px;
}