.bloco_2{
    background-color: white;
    position: relative;
    width: 1290px;
    height: 50vh;
    top: 200px;
    left: 460px;
}
.nome{
    position: relative;
    top: 0;
    left: 50px;
    font-size: 290%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dados{
    position: relative;
    bottom: 50px;
    left: 53px;
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.email{
    color: rgb(160, 7, 7);
    text-decoration: underline;
}
span{
    color: rgb(160, 7, 7);
}
.descricao{
    text-align: left;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    top: 0;
    left: 52px;
}
.icons{
    position: relative;
    top: 40px;
    left: 52px;
}
.icones{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}
a{
    text-decoration: none;
}